<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="icon" type="image/png" href="public/images/icon2.png">
</head>
<body>
    <h1>Go to:</h1>

    <a href="/claimsubmit-page">
        <button >Submit a Claim</button>
    </a>

    <a href="/account-page">
        <button >Account Page</button>
    </a>

    <a href="/registerlogin-page">
        <button >Register Login Page for new</button>
    </a>

    <a href="/viewclaims-page">
        <button >View Claims</button>
    </a>

    <a href="/login">
        <button >Logout</button>
    </a>
    
    <!--TODO: testtes-->

</body>
</html>