<div class="sidebar">
    <h2>Navigation</h2>
    <a href="/homepage">
        <button>Home</button>
    </a>
    <a href="/claimsubmit-page">
        <button>Submit a Claim</button>
    </a>
    <a href="/account-page">
        <button>Account Page</button>
    </a>
    <a href="/registerlogin-page">
        <button>Register Login Page for new</button>
    </a>
    <a href="/viewclaims-page">
        <button>View Claims</button>
    </a>
    <a href="/login">
        <button>Logout</button>
    </a>
</div>
