<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClaimStalker - Sign Up</title>
    <link rel="stylesheet" href="/registerlogin-page.css">
    <link rel="icon" type="image/jpg" href="/images/Imagecrop2.jpg">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Create Account</h1>
            <form action="/signup" method="post" class="input-group">
                <div class="input-field">
                    <input type="text" id="username" name="username" placeholder="Enter a new username" required autocomplete="off">
                </div>
                <div class="input-field">
                    <input type="password" id="password" name="password" placeholder="Enter a new password" required>
                </div>
                <div class="btn-field">
                    <button type="submit">Sign Up</button>
                </div>
                <p>Already have an account? <a href="/login">Sign In</a></p>
            </form>
        </div>
    </div>
</body>
</html>
